/*#container-box {
    border: 1px solid;
    width: 400px;
    display: flex;
}*/

.container-1 {
    display: flex;
    justify-content: center;
}

.fat-line {
    border: 8px solid;
}

.medium-line {
    border: 3px solid;
}

.middle-box h4 span {}