/*#container-box {
    border: 1px solid;
    width: 400px;
    display: flex;
}*/

.container-1line {
    display: flex;
    justify-content: space-between;
}

.container-2line {
    display: flex;
    justify-content: space-between;
}

.container-3line {
    display: flex;
    justify-content: space-between;
}

.fat-line {
    border: 8px solid;
}

.gray-line{
	/*display: flex;
	flex-direction: flex-end;*/
	width: 90%;
	text-align: right;


}

.medium-line {
    border: 3px solid;
}


.line4{
	font-size: 19px;
	padding-left: 15px;
}

#lineright{
 	text-align: right;
}
